<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
 	xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd  
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
       
    <bean id="bankService" class="com.ran.test.aop.advice.service.BankServiceImpl"/>
    <!-- 切面 -->
    <bean id="myAspect" class="com.ran.test.aop.advice.MyAspect"/>
    <!-- aop配置: 
			    pointcut 横切点 
			    aspect 切面
			    joinpoint 连接点
			    advice 通知
			    
			    http://www.cnblogs.com/davidwang456/p/4013631.html
			    唯品会网关设计 http://www.cnblogs.com/davidwang456/p/6845178.html
    -->
    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:pointcut expression="execution(* com.ran.test.aop.advice.service.*.*(..))" id="pointcut"/>
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after method="after" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="pointcut"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcut"/>
            <aop:around method="around" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>
        
        
</beans>